/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    align-items: center;
}

/* Centering and Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fef9f9;
}

/* Container Styling */
.container {
    text-align: center;
    background-color: #f5ebf5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    
}

/* Title Styling */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* File Input Styling */
.file-label {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #9900ff;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
}

#downloadLink{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #9900ff;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: none;
}

.file-label:hover {
    background-color: #5a00b3;
}

input[type="file"] {
    display: none; /* Hide the actual file input */
}

/* Processed Image Styling */
.output-image {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 15px;
    visibility: hidden; /* Initially hidden */
}
.drop-area {
    border: 2px dashed #8246a7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.drop-area.highlight {
    border-color: #d77efa;
}
#progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: #8ae18d;
    width: 0;
    transition: width 0.9s ease;
}
